<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Message Board Assignment</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" 
     href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

</head>
<body>
  <div class="container">
    <h3>Index.ejs</h3>
    <form action="/users" method="post">
    <label for="Name">Name</label>
    <input type="text" name='name'>
    <br>
    <label for="Age">Message</label>
    <textarea name="message" rows="8" cols="40"></textarea>
    <br>
    <input type="submit" value="Submit">
    </form>
  </div>
  <div class="container">
      <% for (const user of users) { %>
        <p>Name: <%= user.name %></p>
        <p>Message: <%= user.message %></p>



        <% for (const comment of user.comment){ %>
          <p><%="Name: " + comment.name %></p>
          <p><%="Comment: " + comment.text %></p>

          <% } %>
          <form action='/comment/<%= user._id %>' method="post">

            <!-- Name: <input class="comment_input" type="text" name="name"> -->
                <div>
                  <label for="">Name</label>
                       <select name="user" id="">
                         <% for (const user of users) { %>
                          <option value="<%= user._id %>"><%= user.name %></option>
                         <% } %>
                       </select>
                </div>

						Comment: <textarea name="comment"></textarea>
						<input class="post2" type="submit" value="Post comment">
          </form>
      <% } %>
  </div>
</body>
</html>
