<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Message Board Assignment</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" 
     href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

</head>
<body>
  <div class="container">
    <h3>Index.ejs</h3>
	<form action="/message" method="post">
		<p>Name: <input type="text" name="name">
		<p>Message: <textarea name="message"></textarea>
		<input id="post" type="submit" value="Post message">
	</form>
  </div>
  <div class="container">
      <% for (const message of messages) { %>
        <h5>Name: <%= message.name %></h5>
        <h5>Message: <%= message.message %></h5>



        <% for (const comment of message._comments){ %>

          <p>Comment name: <%= comment.name %></p>
          <p>Comment text: <%= comment.text %></p>
          <!-- <p>Comment id: <%= comment.id %></p> -->



          <% } %>
          <form action='/comment/<%= message._id %>' method="post">              
            <input type="hidden" name="id" value="<%= message._id %>">

            <label for="name">Name</label>
            <input type="text" name='name'>
            <br> 

            <label for="comment">Comment</label>
						<textarea name="comment"></textarea>
						<input type="submit" value="postComment">
          </form>
      <% } %>
        </div>
  
  <div>
    keeping for reference, but dont use
    <label for="">Name</label>
         <select name="user" id="">
           <% for (const message of messages) { %>
            <option value="<%= message._id %>"><%= message.name %></option>
           <% } %>
         </select>
  </div>
  <div>
    <hr>


  </div>
</body>
</html>
